@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  margin: 30px auto;
  margin-top: 0px;
  overflow: auto;
  /* border: 1px solid steelblue; */
  padding: 30px 80px;
  padding-top: 0px;
}

.app-item {
  border: 1px solid #5cb85c;
  margin: 30px auto;
  border-radius: 5px;
}

.cv {
  border: none;
}


.btn {
  /* display: inline-block; */
  background: #0275d8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  transform: scale(0.98);
  background: #1063aa;
}

form {
  padding: 20px 25px;
}

.form-item span {
  display: block;
  margin-top: 10px;
  font-size: medium;
  font-weight: 600;
}

input, textarea {
  margin-top: 10px;
  width: 400px;
  font-size: large;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
}
 
input:focus, textarea:focus  {
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

.form-item input {
  height: 30px;
}

.form-item textarea {
  height: 60px;
}

.form-input button {
  margin-top: 15px;
  width: 385px;
}

.blog{
  list-style: none;
  /* background-color: #DFDFDE; */
  background-color: #D4F6CC;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  /* display: flex; */
}

.blog:hover {
  /* background-color: #EEEEEE; */
  background-color: #8bf58d;
  transform: scale(1.01);
}

.update-form {
  padding: 20px;
}

.update-item {
  display: grid;
  margin: 5px auto;
}

.update-item label {
  font-size: 14px;
}

.update-item span {
  font-size: 10px;
  color: #d9534f;
}

.update-item span:first-child{
  /* color: #1063aa; */
  font-size: medium;
  font-weight: 600;
  color: #E60965;
}

.update.btn {
  width: 100px;
  margin: 10px auto;
}

.title {
  font-weight: 600;
  margin-bottom: 5px;
}

.blog-like {
  margin-top: 10px;
}

.blog-like span {
  margin-left: 5px;
  font-size: smaller;
}

.blog-like i {
  cursor: pointer;
}

.blog-like i:hover{
  color: #E60965;
}

.button-scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

/* .visible {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: #5cb85c;
  box-shadow: 10px 10px 5px #aaaaaa;
} */

.visible.opacity-100 {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: #5cb85c;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.visible.opacity-100:hover {
  width: 55px;
  height: 55px;
}

.visible.opacity-0 {
  opacity: 0;
}

.button-scroll i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
}

#navbarNav{
  align-items: end;
  justify-content: end;
}

#navbarNav a {
  font-size: large;
}

#navbarNav a:hover{
  font-weight: 600;
  transform: scale(1.05);
}

.cv-blog {
  margin-bottom: 80px;
}

.jumbotron {
  /* background: radial-gradient(circle at top left, #F2FFE9, #72cd54, #DB6B97); */
  background-image: url("../public/sistech\ background-12.png");
  background-position: left top;
  height: 405px;
}

.jumbotron hr {
  width: 700px;
}

.experiences h3, .project h3, .skill h3 {
  font-weight: 600;
  margin: 60px auto;
}

.experiences .card {
  margin: 30px 50px;
}

.experiences h5 {
  font-weight: 600;
}

.experiences p{
  font-size: smaller;
}

.experiences span {
  color: #E60965;
}

.experiences ul {
  margin-left: 20px;
}

.project {
  margin-left: 30px;
  margin-bottom: 30px;
}

.project .card {
  width: 200px;
  height: 250px;
}

.project .card:hover{
  transform: scale(1.05);
}

.project .row.no-gutters:nth-child(3) {
  margin-top: 20px;
  justify-content: center;
}

.project p{
  font-size: 12px;
}

.project h6 {
  font-weight: 600;
}

.project a {
  font-size: 13px;
}

.skill {
  margin: 30px auto;
}

.skill h3{
  margin: 60px auto 40px auto;
}

.skill .row {
  margin: 40px 20%;
}

.skill .card {
  width: 90px;
  border: none;
}

